<div class="modal fade" id="exampleModalComment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="post-comments-list">
                <ul id="post-comments-<%= post._id %>">
                  <% for (comment of post.comments){%>
        
                    <%- include('_comment') -%>
        
                      <%} %>
                </ul>
              </div>
            </div>
            
        </div>
    </div>
</div>






